In [63]:
import pandas as pd
import numpy as np

In [64]:
df = pd.read_csv('sample_data.csv')

In [65]:
df.head()

,Problem Solving,Design,CS Skills,Test Enumeration,Communication,intervieweeId,interviewerId,Score,Interviewer Call,Final Call
0,-1,2,4,3,3,1,74,2.850000,0,0
1,4,7,-1,6,4,1,83,5.391304,0,0
2,-1,-1,-1,4,9,1,47,6.142857,1,0
3,3,6,7,3,5,1,3,4.785714,0,0
4,9,8,9,-1,6,2,91,8.291667,1,1

In [66]:
df = df[['interviewerId', 'intervieweeId', 'Score', 'Interviewer Call', 'Final Call']]

In [67]:
df.head()

   interviewerId  intervieweeId     Score  Interviewer Call  Final Call
0             74              1  2.850000                 0           0
1             83              1  5.391304                 0           0
2             47              1  6.142857                 1           0
3              3              1  4.785714                 0           0
4             91              2  8.291667                 1           1

In [83]:
newDF = pd.DataFrame(columns=['Call_1','Score_1','Call_2','Score_2','Call_3','Score_3','Call_4','Score_4','Final Call'])
for x in range (0,250) :
    df_test = df.loc[df['intervieweeId'] == x+1]
    sample_row = []
    x = -1
    for index, row in df_test.iterrows():
        sample_row.insert(len(sample_row), row['Interviewer Call'])
        sample_row.insert(len(sample_row), row['Score'])
        x = row['Final Call']
    
    sample_row.insert(len(sample_row), x)
    newDF.loc[len(newDF)] = sample_row

In [84]:
newDF.to_csv("final_score_data.csv", index=False)